:root {
	--pane-height: 40%;
	--mar: hsl(18, 75%, 15%);
	--red: hsl(18, 75%, 26%);
	--god: hsl(39, 23%, 49%);
	--wit: hsl(39, 23%, 90%);
	--hea: hsla(39, 23%, 90%, 0.2);
	--bg-red: linear-gradient(135deg, var(--wit) 0%, var(--god) 100%);
	--bg-god: linear-gradient(45deg, var(--god) 0%, var(--wit) 100%);

	--shadow: 5px 5px 15px;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'icon';
	src:  url('../fonts/icon.eot?se2rfs');
	src:  url('../fonts/icon.eot?se2rfs#iefix') format('embedded-opentype'),
	url('../fonts/icon.ttf?se2rfs') format('truetype'),
	url('../fonts/icon.woff?se2rfs') format('woff'),
	url('../fonts/icon.svg?se2rfs#icon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
i {
	font-family: 'icon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-amha:before {
	content: "\e900";
}
.i-print:before {
	content: "\e901";
}
.i-repeat:before {
	content: "\e90d";
}
.i-github:before {
	content: "\e907";
}
body {
	background: var(--bg-red);
	width: 100%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--mar);
}
header {
	background: var(--hea);
	display: flex;
	align-self: stretch;
	justify-content: space-between;
	padding: 1rem;
	box-shadow: var(--shadow);
}
header ul li {
	list-style: none;
	font-size: 1.5rem;
}
header .tools {
	display: flex;
}
a:link, a:visited {
	text-decoration: none;
	color: var(--red);
}
a:hover {
	color: var(--god);
	scale: 1.5;
}
a:active {
	color: var(--mar);
}
h2 {
	text-transform: uppercase;
	font-size: 1rem;
	cursor: pointer;
}
#main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
/* Start Pane Style */
#title {
	margin: 1rem;
	background: var(--mar);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	box-shadow: var(--shadow);
	border-radius: 2rem 0 ;
	color: var(--god);
}
#h1 {
	margin: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#msg {
    margin: 0 3rem 2rem;
    font-size: .85rem;
    text-align: center;
    opacity: .8;
}
#pane {
	margin: 0 auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 2rem;
	box-shadow: var(--shadow);
}
.selections {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	width: 90%;
	background: var(--god);
	text-align: center;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 5px 5px 15px;
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: bold;
}

.selections img {
	fill: var(--wit);
	width: 50%;
	padding: 1rem;
	transition: all .2s ease-in-out;
}
.selections img:hover {
	transform: scale(1.2);
}
/* Textbox() */
#textbox {
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
textarea {
	width: 100%;
	margin: 1rem;
	padding: 1rem;
}
textarea, .drop {
	margin: 1rem;
	padding: 1rem;
	background: hsla(39, 23%, 80%, 0.2);
	text-align: center;
}
textarea:focus, .drop:focus {
	background: hsla(39, 23%, 80%, 0.5);
}
textarea::placeholder, .drop::placeholder {
	text-align: center;
}
select, option {
	background: transparent;
	padding: .5rem;
}
button {
	background: linear-gradient(var(--mar), var(--red));
	padding: 1rem 2rem;
	border-radius: .5rem;
	border: none;
	color: var(--god);
	box-shadow: 0 5px 5px var(--mar);
	margin: 1rem;
}
button:hover {
	scale: .9;
	color: var(--wit);
}
#textbox h1 {
	text-align: center;
	margin: 1rem;
	font-size: 1.2rem;
	text-transform: uppercase;
}
#textbox p {
	font-size: .85rem;
	text-align: center;
	opacity: .5;
}
/* Wi-Fi Cards */
.card {
	width: 5cm;
	height: 3.35cm;
	position: relative;
	border: 1px solid #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 2px;
	font-size: 14px;
	font-weight: bold;
}
.code {
	width: 2cm;
	height: 1.2cm;
	border: 1px solid var(--god);
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: start;
	margin: 1px;
}
.card img {
	width: 35%;
	height: auto;
}
#card-logo {
	z-index: 2
}
#card-wifi {
	/*z-index: -1;*/
	position: absolute;
	width: 4cm;
	height: auto;
	opacity: .2;
}
.card p {
	margin-bottom: 5px;
}
.small {
	font-size: 0.75rem;
}
.heavy {
	font-weight: bolder;
	text-transform: uppercase;
}

/* Code Sheet Style */
#number {
	margin: auto;
	cursor: pointer;
}
#a4 {
	margin: 0;
	padding: 0;
}
.page {
	margin: 0;
	page-break-after: always;
	width: 21cm;
	height: 29.7cm;
	display: flex;
	justify-content: center;
	align-content: space-around;
	flex-wrap: wrap;
	padding: 5px;
	box-sizing: border-box;
}
.credits {
	text-align: center;
	margin: 1rem;
}
p.js {
	font-size: .65rem;
	opacity: 0.25;
}
#footer {
	margin-top: 1rem;
}

/* JS Components */
.hide {
	display: none;
}
@media (width <= 600px) {
	#pane {
        width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: solid #000 1px;
		border-radius: 0 1rem 0 1rem;
	}
	.selections img {
		width: 100px;
		height: auto;
	}
}
@media (width >= 600px) {
	.selections {
		width: 300px;
	}
	textarea {
		width: 60%;
	}
}
@media (orientation: portrait) {
	#pane {
		width: 80%;
		height: auto;
	}
}
@media (orientation: landscape) {
    #pane {
        flex-direction: row;
    }
}
@media print {
	@page {
		size: A4;
		/*margin: 10mm;*/
	}
	body {
		margin: 0;
		padding: 0;
		background: white;
	}
	.page {
		margin: 0 auto;
		background: white;
		color: black;
	}
}
